@import "tailwindcss"; 

/* Default light mode */
/* Light Mode */
:root {
  --bg-primary: white;
  --text-primary: black;
  --input-bg: #f3f4f6;
  --item-bg: #e5e7eb;
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-primary: #1a1a2e;
  --text-primary: white;
  --input-bg: #2b2b3b;
  --item-bg: #30304a;
}

/* Smooth Transition */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

